.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 17px;
}

.appButton {
    width: 25%;
    background-color: blue;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    border: 1px solid blue;
    transition: 0.5s ease-in-out;
}

.appButton:hover {
    cursor: pointer;
    background-color: aquamarine;
    color: black;
    border: 1px solid aquamarine;
}

.courseList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}